body {
    max-width: 1920px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.header {
    width: 100%;
    top: 0;
    justify-content: center;
    display: flex;
    position: sticky;
    z-index: 5;
    /* background-color: aqua; */
}

.header .main_menu {
    width: 1530px;
    height: 150px;
    /* top: 0; */
    border: 1px solid (255, 255, 255, 0);
    border-radius:0 0 60px 60px ;
    background-image: linear-gradient(to bottom, rgba(231, 231, 231, 0.9), rgba(255, 255, 255, 0));
    display: flex;
    /* position: relative; */
}

.logo img {
    width: 320px;
    height: 129px;
    margin: 5px 0 0 95px;
    /* display: inline-block; */
}
.menu{
    display: flex;

}
.menu ul{
    margin-top: 25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu li a{
    width: 150px;
    height: 100px;
    margin:0 15px;
    align-items: center;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: #2B2B2B;
    /* background-color: #070; */
    display: inline-block;
}

.header .button a{
    width: 80px;
    height: 100px;
    margin-left: 10px;
    margin-top: 15px;
}
.header .button li img {
    width: 27px;
    height: 27xpx;
}
.fa fa-search {
    color: #aaa;
}
.banner {
    width: 100%;
    height: 1200px;
    background: url("tiny_pic/01.front/front_banner_1920_v2.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
/* knowAbout======================================= */
.know_about {
    width: 100%;
    top: 900px;
    position: relative;
    z-index: 2;
}
.card_aboutUs {
    width: 1500px;
    margin: 0 180px 0 250px;
    display: flex;
    justify-content: space-evenly;
    
    /* background-color: #faa; */
}
.card_aboutUs img{
    width: 855px;
    height: 650px;
    vertical-align: bottom;
}
.introduce {
    width: 500px;
    /* padding: 0 80px 0 80px; */
    color: #2B2B2B ;
    font-size: 40px;
    font-family: 'Segoe Script','Noto Serif TC', serif;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    /* background-color: #070; */
}
.introduce .title {
    padding-bottom: 20px;
    line-height: 60px;
    /* background-color: #faa; */
}
.introduce .bottom_line {
    width: 400px;
    height: 1px;
    border-top: 1px solid #ddd; 
}
.introduce span {
    color: #aaa;
    letter-spacing: 15px;
}
.introduce p {
    width: 400px;
    padding:35px;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
    /* background-color: #faa; */
}
.btn_viewMore a {
    width: 300px;
    height: 80px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    color: #6F7170;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
    /* background-color: #0a0; */
}
.btn_viewMore img{
    margin: 0;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
/* meet with========================================= */
.card_meetWith {
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #070; */
}
.card_meetWith .introduce {
    position: relative;
    left: 100px;
    top: 50px;
    /* background-color: #faa; */
}
.meet_img {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.meet_img img{
    width: 100%;
}
.meet_img a:nth-last-of-type(1) {
    position: relative;
    right: 50px; 
    bottom: 50px;
    z-index: 1;
}
.meet_img a:nth-last-of-type(2) {
    position: relative;
    z-index: 2;
}
.meet_img a:nth-last-of-type(3) {
    position: relative;
    left: 50px; 
    bottom: 50px;
    z-index: 1;
}
.middle_bg {
    width: 100%;
    height: 1254px;
    bottom: 100px;
    top: 1400px;
    background: url("tiny_pic/01.front/front_middle_bg_1920v3.png")no-repeat;
    /* background-attachment: fixed; */
    background-size: contain;
    position: absolute;
    z-index: 0;
}

/* newArrivals==================================== */
.newArrivals {
    width: 100%;
    padding: 0 180px 0 180px;
    margin-top: 1800px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
    z-index: 3;
    /* background-color: #000; */
}
.newArrivals p {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: left;
    margin:10px 0 20px 3%;
}
.newArr_left {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    vertical-align: middle;
    /* text-align: center; */
    flex-direction: column;
    /* position: relative; */
    z-index: 1;
    /* background-color: #faa; */
}
.newArr_left .introduce {
    margin: 200px 0 230px 13%;

    display: block;
    justify-content: center;
    /* position: relative; */
    /* background-color: #070; */
}
.btn_shop a {
    width: 300px;
    height: 80px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    color: #6F7170;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
    /* background-color: #0a0; */
}
.btn_shop img{
    margin: 0;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.newArr_right {  
    width: 100%;  
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* background-color: aquamarine; */
}
.card-product {
    width: 80%;
    margin: auto;
}
.Sunlit_img img {
    box-shadow: -15px 15px #58090f;
}
.spring_img img {
    box-shadow: -15px 15px #E1D0C1;
}
.Blue-dyed_img img {
    box-shadow: 15px 15px #95B3CB;
}
.Candle_img img {
    box-shadow: 15px 15px #C3998B;
}
.Moon_img img {
    box-shadow: 15px 15px #B3AC9C;
}
.bg_bird_img img {
    position: relative;
    margin: -20px 0 0 -80px;
}

/* footer======================================= */
.footer {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer_bg {
    width: 100%;
    height: 611px;
    background: url("tiny_pic/00.header.footer/footer_bg_1920_v2.png")no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
}
.footer .wrap {
    width: 90%;
    font-size: 20px;
    color: #888;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    /* background-color: #fa0; */
}
.footer .main_menu {
    width: 30%;
    margin: 16% 0 0 5%;
    font-size: 20px;
    /* background-color: #faa; */
}
.footer .main_menu ul {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 1px;
    line-height: 30px;
}
.footer .main_menu a {
    text-decoration: none;
    /* font-weight: bold; */
    color: #888;
}
.footer .main_menu ul .sub_menu {
    margin-top: 10px;
    line-height: 35px;
    flex-direction: column;
}
.footer .logo {
    width: 40%;
    margin-top: 11%;
    text-align: center;
    /* background-color: #070; */
}
.footer .logo span {
    margin-left: 12%;
    font-size: 16px;
}
.footer .connection {
    width: 30%;
    padding-left: 50px;
    margin-top: 12%;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    /* background-color: #95B3CB; */
}
.footer .connect_way {
    margin-top: 30px;
}
.footer .connect_way a {
    margin-right: 30px;
}
.to-top a{
    width: 150px;
    height: 50px;
    top: 80px;
    left: 80px;
    color: #2B2B2B;
    text-align: center;
    display: block;
    text-decoration: none;
    position: relative;
    transform: rotate(90deg);
    /* background-color: #fa0; */
}

/* ====================商品總覽====================== */

.products-overview {
    
}
    
    .products-banner {
        margin-top: 20px;
        
        .products-banner-img {
            width: 100%;
            display: flex;
            /* position: relative; */
            /* background-color: #aaa; */
        }
        
        .products-banner-img img {
            width: 1453px;
            margin-left: auto;
            border-radius: 50px 0 0 100px ;
            box-shadow: -54px 46px #D6BEA8;
        }
        
        .products-main-title {
            width: 745px;
            height: 200px;
            margin: -250px 0 0 0px;
            color: #000;
            font-family: 'Segoe Script','Noto Serif TC', serif;
            position:relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to left, rgba(200, 200, 200, 0.3), rgba(255, 255, 255, 0));
            border-radius: 5px;
            
            .products-title h1{
                font-size: 44px;
                margin-right: 150px;
                letter-spacing: 2px;
                /* background-color: #faa; */
            }
            .bottom-line{
                width: 50%;
                height: 1px;
                margin: 20px 0 20px 40px;
                background-image: linear-gradient(to right,#000, #fff);
                /* display: inline-block; */
                /* border-bottom: 1px solid #aaa; */
            }
            .products-sub-title h2{
                margin-left: 310px;
                font-size: 34px;
                /* font-weight: bold; */
                letter-spacing: 10px;
                /* color: #ddd; */
                /* background-color: #faa; */
            }
            .products-sub-title span {
                color: #eee;
            }
            
            
        }
        
        
        
        
    }
    
.overview {
    width: 90%;
    display: flex;
    padding-top: 150px;
    margin: auto;
}
.products-sidebar {
    width: 30%;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif TC', serif;
    /* background-color: #faa; */
    
    .selection {
        width: 50%;
        padding-top: 70%;
        /* background-color: #070; */
    }

    .selection a {
        text-decoration: none;
        line-height:70px;
        color: #2B2B2B;
    }
    .selection h2 {
        font-size: 32px;
    }
    .selection p {
        font-size: 24px;
    }
    .selection span {
        font-size: 20px;
    }


}

.product-list {
    width: 70%;
    font-family: 'Noto Serif TC', serif;

    .card-products{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .card-title {
            font-size: 32px;
            font-family: 'Segoe Script','Noto Serif TC', serif;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #aaa;
            padding-bottom: 30px;
            /* margin-bottom: 30px; */
            margin: 30px 0 30px 0;
            color: #2B2B2B;
        }

        .card-title p {
            margin-left: 10px;
        }
        .card-title span {
            font-size: 20px;
        }

        .card-text {
            font-size: 20px;
            letter-spacing: 5%;
            line-height: 40px;
            margin-bottom: 30px;
        }
        .card-items {
            display: flex;
            justify-content: center;
            column-gap:30px;
            /* padding-top: 30px; */
            /* background-color: #070; */
        }
        .card-item {
            margin-bottom: 50px;
            /* background-color: #faa; */
        }
        .item-img img {
            border-radius: 5px ;
        }
    
        .item-text {
            font-size: 20px;
            color: #2B2B2B;
            line-height: 30px; 
            border-top: 1px solid #aaa;
            padding: 10px 0 0 10px;
            margin-top: 10px;;
        }

        .item-text a {
            text-decoration: none;
            font-size: 20px;
            color: #2B2B2B;
        }

    }
    
}





