.btn_viewMore a {
  width: 300px;
  height: 80px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
  color: #6F7170;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  /* background-color: #0a0; */
}
.btn_viewMore img{
  margin: 0;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.btn_shop a {
  width: 300px;
  height: 80px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
  color: #6F7170;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  /* background-color: #0a0; */
}
.btn_shop img{
  margin: 0;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}