.header .main_menu {
  width: 1530px;
  height: 150px;
  /* top: 0; */
  border: 1px solid (255, 255, 255, 0);
  border-radius: 0 0 60px 60px;
  /* background-color: rgba(95%, 95%, 95%, 0.9); */
  background-image: linear-gradient(to bottom, rgba(231, 231, 231, 0.6), rgba(100%, 100%, 100%, 0.3));
  display: flex;
  /* position: relative; */
}

.logo img {
  width: 320px;
  height: 129px;
  margin: 5px 0 0 95px;
  /* display: inline-block; */
}

.menu {
  display: flex;
  position: relative;

}

.menu ul {
  margin-top: 25px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 3s 1s easy;

}

.menu li a {
  width: 150px;
  height: 80px;
  margin: 0 15px;
  border-bottom: 3px solid #f000;
  align-items: center;
  justify-content: center;
  line-height: 100px;
  text-decoration: none;
  color: #2B2B2B;
  /* background-color: #070; */
  display: flex;
  transition: 1.5s;
}

.menu li a:hover {
  width: 160px;
  height: 80px;
  border-top: 2px solid #555;
  border-bottom: 3px solid #555;

  border-radius: 50px 0 50px 0;
  /* color: #ddd; */
  /* background-color: rgba(95%, 95%, 95%, 0); */
  /* background-image: linear-gradient(to bottom, rgba(231, 231, 231, 0.7), rgba(90%, 90%, 90%, 0)); */
}

.menu .button li a:hover {
  width: 90px;
}

.menu .sub_menu {
  position: absolute;
  top: 80px;
  left: 15px;
  /* background-color: rgb(232, 232, 232); */
  background-image: linear-gradient(to top, rgba(231, 231, 231, 0.7), rgba(90%, 90%, 90%, 0));
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 0.3s;
  width: 20%;
  display: none;
  flex-direction: column;
}
.menu .menu-products-list:hover > ul {
  /* display: block; */
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* left: 200px; */
  /* border-right: 5px; */
}

.header .button a {
  width: 80px;
  height: 100px;
  margin-left: 10px;
  margin-top: 15px;
}

.header .button li i {
  font-size: 30px;
  color: #555;
}



/* ====================footer=========================== */
.footer {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: -; */
}

.footer_bg {
  width: 100%;
  height: 611px;
  background-image: url("../tiny_pic/00.header.footer/footer_bg_1920_v2.png")no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 0;
}

.footer .wrap {
  width: 90%;
  font-size: 20px;
  color: #888;
  font-weight: bold;
  display: flex;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  /* background-color: #fa0; */
}

.footer .main_menu {
  width: 30%;
  margin: 16% 0 0 5%;
  font-size: 20px;
  /* background-color: #faa; */
}

.footer .main_menu ul {
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 1px;
  line-height: 30px;
}

.footer .main_menu a {
  text-decoration: none;
  /* font-weight: bold; */
  color: #888;
}

.footer .main_menu ul .sub_menu {
  margin-top: 10px;
  line-height: 35px;
  flex-direction: column;
}

.footer .logo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* left: -20px; */
  /* background-color: #070; */
}
.footer .logo img {
  position: relative;
  left: -30px;
}

.footer .logo span {
  padding-top: 20px;
  margin-left: -10px;
  margin-top: 100px;
  font-size: 16px;
  /* text-align: center; */
  /* background-color: #faa; */
  position: relative;
  bottom: -20px;
  left: 10px;
}

.footer .connection {
  width: 30%;
  padding-left: 50px;
  margin-top: 12%;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  /* background-color: #95B3CB; */
}

.footer .connect_way {
  margin-top: 30px;
}

.footer .connect_way a {
  margin-right: 30px;
}

.to-top a {
  width: 150px;
  height: 50px;
  top: 80px;
  left: 80px;
  color: #2B2B2B;
  text-align: center;
  display: block;
  text-decoration: none;
  position: relative;
  transform: rotate(90deg);
  /* background-color: #fa0; */
}