html,
body {
    scroll-behavior: smooth;
    /* max-width: 1200px; */
}

.header {
    width: 100%;
    top: 0;
    justify-content: center;
    display: flex;
    position: sticky;
    z-index: 5;
}

.header .main_menu {
    width: 1530px;
    height: 150px;
    border: 1px solid (255, 255, 255, 0);
    border-radius: 0 0 60px 60px;
    background-image: linear-gradient(to bottom, rgba(231, 231, 231, 0.9), rgba(255, 255, 255, 0));
    display: flex;
}

.logo img {
    width: 320px;
    height: 129px;
    margin: 5px 0 0 95px;
}

.menu {
    display: flex;

}

.menu ul {
    margin-top: 25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu li a {
    width: 150px;
    height: 100px;
    margin: 0 15px;
    align-items: center;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: #2B2B2B;
    display: inline-block;
}

.header .button a {
    width: 80px;
    height: 100px;
    margin-left: 10px;
    margin-top: 15px;
}

.header .button li img {
    width: 27px;
    height: 27xpx;
}

.fa fa-search {
    color: #aaa;
}

.banner {
    width: 100%;
    height: 1200px;
    background: url("tiny_pic/01.front/front_banner_1920_v2.png")no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* knowAbout======================================= */
.know_about {
    width: 100%;
    top: 900px;
    position: relative;
    z-index: 0;
}

.card_aboutUs {
    width: 1500px;
    margin: 0 180px 0 250px;
    display: flex;
    justify-content: space-evenly;

    /* background-color: #faa; */
}

.card_aboutUs img {
    width: 855px;
    height: 650px;
    vertical-align: bottom;
}

.introduce {
    width: 500px;
    /* padding: 0 80px 0 80px; */
    color: #2B2B2B;
    font-size: 40px;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    /* background-color: #070; */
}

.introduce .title {
    padding-bottom: 20px;
    line-height: 60px;
    /* background-color: #faa; */
}

.introduce .bottom_line {
    width: 400px;
    height: 1px;
    border-top: 1px solid #ddd;
}

.introduce span {
    color: #aaa;
    letter-spacing: 15px;
}

.introduce p {
    width: 400px;
    padding: 35px;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
    /* background-color: #faa; */
}

.btn_viewMore a {
    width: 300px;
    height: 80px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    color: #6F7170;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}
.btn_viewMore img{
    margin: 0;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
/* meet with======================================= */
.card_meetWith {
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #070; */
}

.card_meetWith .introduce {
    position: relative;
    left: 100px;
    top: 150px;
    padding-bottom: 70px;
    border-radius: 0 0 50px 50px;
    border-bottom: 1px dotted #aaa;
    background-color: #fff;
}

.meet_img {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.meet_img img {
    width: 100%;
}

.meet_img a:nth-last-of-type(1) {
    position: relative;
    right: 50px;
    bottom: 50px;
    z-index: 1;
}

.meet_img a:nth-last-of-type(2) {
    position: relative;
    z-index: 2;
}

.meet_img a:nth-last-of-type(3) {
    position: relative;
    left: 50px;
    bottom: 50px;
    z-index: 1;
}

.middle_bg {
    width: 100%;
    height: 828px;
    bottom: 100px;
    top: 2450px;
    background: url("tiny_pic/01.front/front_middle_bg_1920.png")no-repeat;
    background-attachment: fixed;
    background-size: contain;
    position: absolute;
    z-index: -1;
}

/* newArrivals==================================== */
.newArrivals {
    width: 100%;
    padding: 0 180px 0 180px;
    margin-top: 1400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
    z-index: 3;
    /* background-color: #000; */
}

.newArrivals p {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: left;
    margin: 10px 0 20px 3%;
}

.newArr_left {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    vertical-align: middle;
    /* text-align: center; */
    flex-direction: column;
    /* position: relative; */
    z-index: 1;
    /* background-color: #faa; */
}

.newArr_left .introduce {
    /* height: 500px; */
    border-top: 1px dotted #aaa;
    padding: 80px 30px 80px 30px;
    margin: 100px 0 30px 70px;
    border-radius: 50px 50px 0 0;
    display: block;
    justify-content: center;
    /* position: relative; */
    background-color: #fff;
}

.btn_shop a {
    width: 300px;
    height: 80px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    color: #6F7170;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
}
.btn_shop img{
    margin: 0;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.newArr_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* background-color: aquamarine; */
}

.card-product {
    width: 80%;
    margin: auto;
}

.card-product img {
    transition: 1s;
}


.Sunlit_img img:hover {
    /* transform: scale(1.1); */
    box-shadow: -20px 20px #58090f;
}

.spring_img img:hover {
    /* transform: scale(1.1); */
    box-shadow: -20px 20px #E1D0C1;
}

.Blue-dyed_img img:hover {
    /* transform: scale(1.1); */
    box-shadow: 20px 20px #95B3CB;
}

.Candle_img img:hover {
    /* transform: scale(1.1); */
    box-shadow: 20px 20px #C3998B;
}

.Moon_img img:hover {
    /* transform: scale(1.1); */
    box-shadow: 20px 20px #B3AC9C;
}

.bg_bird_img img {
    position: relative;
    margin: -20px 0 0 -80px;
}

/* footer======================================= */
.footer {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer_bg {
    width: 100%;
    height: 611px;
    background: url("tiny_pic/00.header.footer/footer_bg_1920_v2.png")no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
}

.footer .wrap {
    width: 90%;
    font-size: 20px;
    color: #888;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    /* background-color: #fa0; */
}

.footer .main_menu {
    width: 30%;
    margin: 16% 0 0 5%;
    font-size: 20px;
    /* background-color: #faa; */
}

.footer .main_menu ul {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 1px;
    line-height: 30px;
}

.footer .main_menu a {
    text-decoration: none;
    /* font-weight: bold; */
    color: #888;
}

.footer .main_menu ul .sub_menu {
    margin-top: 10px;
    line-height: 35px;
    flex-direction: column;
}

.footer .logo {
    width: 40%;
    margin-top: 11%;
    text-align: center;
    /* background-color: #070; */
}

.footer .logo span {
    margin-left: 12%;
    font-size: 16px;
}

.footer .connection {
    width: 30%;
    padding-left: 50px;
    margin-top: 12%;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    /* background-color: #95B3CB; */
}

.footer .connect_way {
    margin-top: 30px;
}

.footer .connect_way a {
    margin-right: 30px;
}

.to-top a {
    width: 150px;
    height: 50px;
    top: 80px;
    left: 80px;
    color: #2B2B2B;
    text-align: center;
    display: block;
    text-decoration: none;
    position: relative;
    transform: rotate(90deg);
    /* background-color: #fa0; */
}

/* ====================商品總覽====================== */

.products-overview {}

.products-banner {
    margin-top: 20px;

    .products-banner-img {
        width: 100%;
        display: flex;
        /* position: relative; */
        /* background-color: #aaa; */
    }

    .products-banner-img img {
        width: 1453px;
        margin-left: auto;
        border-radius: 50px 0 0 100px;
        box-shadow: -54px 46px #D6BEA8;
    }

    .products-main-title {
        width: 745px;
        height: 200px;
        margin: -250px 0 0 0px;
        color: #000;
        font-family: 'Segoe Script', 'Noto Serif TC', serif;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to left, rgba(200, 200, 200, 0.3), rgba(255, 255, 255, 0));
        border-radius: 5px;

        .products-title h1 {
            font-size: 44px;
            margin-right: 150px;
            letter-spacing: 2px;
            /* background-color: #faa; */
        }

        .bottom-line {
            width: 50%;
            height: 1px;
            margin: 20px 0 20px 40px;
            background-image: linear-gradient(to right, #000, #fff);
            /* display: inline-block; */
            /* border-bottom: 1px solid #aaa; */
        }

        .products-sub-title h2 {
            margin-left: 310px;
            font-size: 34px;
            /* font-weight: bold; */
            letter-spacing: 10px;
            /* color: #ddd; */
            /* background-color: #faa; */
        }

        .products-sub-title span {
            color: #eee;
        }
    }
}

.overview {
    width: 90%;
    display: flex;
    padding-top: 150px;
    margin: auto;
}

.products-sidebar {
    width: 30%;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif TC', serif;
    /* background-color: #faa; */

    .selection {
        width: 50%;
        height: 15%;
        padding-top: 50%;
        top: 0;
        position: sticky;
        /* background-color: #070; */
    }

    .selection a {
        text-decoration: none;
        line-height: 70px;
        color: #2B2B2B;
    }

    .selection h2 {
        font-size: 32px;
    }

    .selection p {
        font-size: 24px;
    }

    .selection span {
        font-size: 20px;
    }


}

.product-list {
    width: 70%;
    font-family: 'Noto Serif TC', serif;

    .card-products {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .card-title {
            font-size: 32px;
            font-family: 'Segoe Script', 'Noto Serif TC', serif;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #aaa;
            padding-bottom: 30px;
            /* margin-bottom: 30px; */
            margin: 30px 0 30px 0;
            color: #2B2B2B;
        }

        .card-title p {
            margin-left: 10px;
        }

        .card-title span {
            font-size: 20px;
        }

        .card-text {
            font-size: 20px;
            letter-spacing: 5%;
            line-height: 40px;
            margin-bottom: 30px;
        }

        .card-items {
            display: flex;
            justify-content: center;
            column-gap: 30px;
            /* padding-top: 30px; */
            /* background-color: #070; */
        }

        .card-item {
            margin-bottom: 50px;
            /* background-color: #faa; */
        }

        .item-img {
            overflow: hidden;
        }

        .item-img img {
            border-radius: 5px;
            transform: scale(1, 1);
            transition: all .8s ease-out;
        }

        .item-img img:hover {
            transform: scale(1.1);
        }

        .item-text {
            font-size: 20px;
            color: #2B2B2B;
            line-height: 30px;
            border-top: 1px solid #aaa;
            padding: 10px 0 0 10px;
            margin-top: 10px;
            ;
        }

        .item-text a {
            text-decoration: none;
            font-size: 20px;
            color: #2B2B2B;
        }

    }

}

/* ============商品資訊============================ */


.col-2 .selection {
    width: 100%;
    padding-top: 100px;
    margin: auto;
    top: 180px;
    font-size: 24px;
    line-height: 54px;
    position: sticky;
    /* background-color: #faa; */

}

.selection a {
    color: #000;
    font-family: 'Noto Serif TC', serif;
    text-decoration: none;

}

.selection a span {
    font-size: 1.5ex;
}

.col-10 {
    margin-top: 50px;
    /* background-color: #888; */
}

.products-detail {
    display: flex;
    font-family: 'Noto Serif TC', serif;

    .product-img img {
        width: 100%;
    }

    .product-info {
        width: 40%;
        color: #2B2B2B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* background-color: #faa; */

        .info-text {
            width: 75%;
            /* background-color: #070; */
        }

        .info-text h2 {
            font-size: 30px;
            line-height: 50px;
            margin-bottom: 10px;
        }

        .info-text p {
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
            padding: 40px 0 40px 0;
            font-size: 20px;
            line-height: 40px;
        }

        .style-select {
            margin: 40px 0 40px 0;
            font-size: 24px;
        }
    }
}

.product-more {
    width: 70%;
    height: 235px;
    display: flex;
    margin: -80px 0 50px 0;
    position: relative;

    /* background-color: #faa。; */


    .product-more-img img {
        margin-right: 10px;
    }
}
.product-more img {
    width: 200px;
}


.popular-with {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Noto Serif TC', serif;
    position: relative;
    z-index: 2;
    /* background-color: #faa; */


    .text {
        font-size: 32px;
        padding-bottom: 25px;
        margin: 50px 0 30px 0px;
        border-bottom: 1px solid #aaa;
        /* background-color: #faa; */
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: 30%;
        line-height: 40px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
    }

    .card a {
        overflow: hidden;
    }

    .card img {
        width: 100%;
        border-radius: 5px;
        transform: scale(1, 1);
        transition: all .8s ease-out;
    }

    .card img:hover {
        transform: scale(1.1);
    }

    .card span {
        border-top: 1px solid #aaa;
        margin-top: 20px;
        padding-top: 20px;
        /* background-color: #faa; */
    }

    .card span a {
        color: #2B2B2B;
        text-decoration: none;
        /* background-color: #faa; */

    }
}


/* ===============購物車=================== */

#cart-row {
    
    /* background-color: red; */
}

.page-cart {
    width: 100%;
    margin: 30px 180px 30px 180px;
    /* background-color: #faa; */
    position: relative;
}

.cart-title  {
    width: 200px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 44px;
    /* font-weight: bold; */
    color: #555;
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    margin: 100px auto 100px ;
    
    /* background-color: #C3998B; */
}

.cart-bg {
    width: 100%;
    height: 30%;
    background: url("/NiShangGe/tiny_pic/04.cart/cart_header_bg_01.png")no-repeat;
    /* background-color: #aaa; */
    position: absolute;
    left: 0;
    top: 180px;
    z-index: -1;
}
.cart-bg-2 {
    width: 316px;
    height: 505px;
    background: url("/NiShangGe/tiny_pic/04.cart/cart_header_bg_02.png")no-repeat;
    background-size: contain;
    /* background-color: #aaa; */
    position: absolute;
    right:130px;
    top: 280px;
    z-index: -1;
}

.cart-product {
    margin: 0px 0 0 0;
    display: flex;
    flex-direction: column;
    /* background-color: #aaa; */


    .cart-item {
        width: 930px;
        border: 1px solid #C4C4C4;
        background-color: #fff;
        margin-bottom: 50px;
        padding: 30px 0 30px 50px;
        display: flex;

        .cart-detail {
            margin-left: 50px;
        }
        .text {
            font-size: 24px;
            line-height: 50px;
            margin: 10px 0 0 10px;
            /* background-color: #faa; */
            
        }
        .text a {
            color: #2B2B2B;
            text-decoration-color: #f000;
            transition: .8s;
        }
        .text a:hover {
            text-decoration-color: #aaa ;
        }
        
        .cart-btn {
            width: 250px;
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            /* background-color: #faa; */
        }




    }
}


.col-3 {
    width: 500px;
    height: 1500px;
    position: relative;
    /* background-color: #faa; */
}
.calculation {
    /* width: 400px; */
    height: 650px;
    border: 1px solid #C4C4C4;
    margin-left: -40px;
    top: 150px;
    /* background-color: #afa; */
    position: sticky;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    .calculate {
        width: 90%;
        margin-top: 90px;
        margin-bottom: 80px;
        font-size: 22px;
        font-family: 'Noto Serif TC', serif;
        display: flex;
        flex-direction: column;
        
        /* background-color: #faf; */
        




        .card {
            padding: 0px 35px 0px 35px;
            margin: 0 10px 50px 10px;
            display: flex;
            justify-content: space-between;
            /* background-color: #faa; */
        }

        .card:last-child {
            border-top: 1px solid #aaa;
            padding-top: 50px;
            margin-bottom: 50px;
            /* background-color: #faa; */
        }

    }

}
.pay-way {
    margin: 40px 0 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.pay-way img {
    margin-left: 5px;
}

.cart-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 50px 0;
    font-family: 'Noto Serif TC', serif;
    /* background-color: #faa; */

    .title {
        width: 100%;
        padding-bottom: 15px;
        margin-left: -80px;
        border-bottom: 1px solid #aaa;
        font-size: 32px;
        /* background-color: #070; */
        
    }
    
    .cart-card {
        /* width: 80%; */
        margin: 20px 0 -50px 0;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        z-index: 2;
        /* background-color: #aaf; */

        .card {
            width: 100%;
            margin: 0 5px 0 5px;
            
            

            .text {
                /* width: 95%; */
                border-top: 1px solid #aaa;
                padding-top: 10px;
                margin-top: 10px;
                font-size: 24px;
                line-height: 35px;
            }
        }
        .card-pic {
            width: 367px;
            border-radius: 5px;
            overflow: hidden;
        }
        .card img {
            border-radius: 5px;
            transition: .8s;
        }
        .card img:hover {
            transform: scale(1.1);
            /* transform: scale(0.9); */
        }
        .card a{
            color: #2B2B2B;
            text-decoration-color: #f000 ;
            transition: .8s;
        }

        .card a:hover {
            text-decoration-color: #aaa ;
        }
    }
}

/* ==================關於我們===================== */
#about-us {
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;
    /* background-color: #aaa; */

    .about-title{
        width: 40%;
        padding: 0 0px 0 50px;
        margin: auto 50px;
        font-size: 40px;
        line-height: 80px;
        color: #2B2B2B;
        /* background-color: #070; */
        position: relative;
        left: 10px;
    }
    .about-title h2{
        text-align: right;
        color: #888;
        /* font-size: 32px; */
    }
    .title-deco {
        position: relative;
        top: 198px;
        left: -250px;
    }
    .deco-line {
        position: absolute;
        width: 500px;
        height: 1px;
        left: -200px;
        background-color: #aaa;
    }
    #rotate-line{
        left: -10px;
        transform: rotate(90deg);
    }

    .about-us-text {
        padding: 50px 100px 50px 100px;
        margin-left: 30px;
        line-height: 50px;
        font-size: 24px;
        letter-spacing: 1px;
        /* background-color: #faa; */
    }
}

#brand-concept {
    /* margin-top: 100px; */
    /* padding: 100px 0 100px 0; */
    display: flex;
    /* justify-content: center; */
    width: 60%;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;
    /* background-color: #aaa; */

    .about-title{
        /* width: 40%; */
        /* padding: 0 0px 0 50px; */
        margin: 200px 50px 0 -50px;
        font-size: 40px;
        line-height: 80px;
        color: #2B2B2B;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: #070; */
        position: relative;
        left: 10px;
    }
    .about-title h2{
        margin-left: 130px;
        /* background-color: #faa; */
        /* text-align: right; */
        color: #888;
        /* font-size: 32px; */
    }
    .title-deco {
        position: relative;
        top: 280px;
        left: -320px;
    }
    .deco-line {
        position: absolute;
        width: 500px;
        height: 1px;
        left: -200px;
        background-color: #aaa;
    }

    .brand-bg {
        width: 1211px;
        height: 580px;
        /* border: 1px solid #000; */
        border-radius: 100px 0 0 100px;
        box-shadow: -20px 20px #BBC1DA ;
        position: absolute;
        right: 0;        
        background: url("/NiShangGe/tiny_pic/05.about/about_banner.jpg")no-repeat right;
        background-size: cover;
        /* background-attachment: fixed; */
        z-index: -1;
    }
}
#concept-text {
    width: 100%;
    /* height: 450px; */
    padding: 70px;
    margin: 200px 50px 500px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #faa; */

    .text p{
        width: 920px;
        height: 400px;
        padding-left: 40px;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 1px;
        /* background-color: #B3AC9C; */
        
    }    
}

.concept-bg {
    width: 100%;
    height: 1223px;
    background: url("/NiShangGe/tiny_pic/05.about/middle-bg-1920.png")no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 1350px;
    z-index: -1;
}
.concept-bg-bird {
    width: 100%;
    height: 343px;
    background: url("/NiShangGe/tiny_pic/05.about/about_middle_deco.png")no-repeat;
    position: absolute;
    left: 100px;
    top: 1830px;
    z-index:1;
}

#shop-info {
    /* width: 645px; */
    margin: -130px 0 70px 30px;
    display: flex;
    justify-content: space-between;
    
    /* background-color: #070; */

    .information {
        /* margin-left: 50px; */
        margin: 0 -110px 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #aaa; */
    }

    .info-text {
        width: 90%;
        font-size: 24px;
        padding-right: 80px;
        font-family:'Noto Serif TC', serif;
        line-height:45px;
        letter-spacing: 2px;
        color: #2b2b2b;
        /* background-color: #faa; */
    }

    .info-text h1 {
        font-size: 40px;
        text-align: center;
        line-height: 60px;
        font-family: 'Segoe Script', 'Noto Serif TC', serif;
        /* background-color: #faa; */
    }
    .info-text h1:last-of-type {
        color: #555;
    }
    .info-text h1:nth-of-type(2) {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #aaa;
    }
    
    .info-symbol {
        height: 50px;
        margin-top: 10px;
        font-size: 16px;
        display: flex;
        /* background-color: #070; */

        .symbol {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size: 30px;
            /* background-color: #fff; */
        }
        .symbol p {
            margin-left: 5px;
            font-size: 18px;
            display: inline;
        }
    }

    .btn-contact-us {
        margin: 30px 0 0 80px;

    }
}

/* ===================認識漢服==================== */

#about-hanfu {
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;
    /* background-color: #aaa; */

    .about-title{
        width: 40%;
        padding: 0 0px 0 20px;
        margin: auto 50px;
        font-size: 40px;
        line-height: 80px;
        text-align: center;
        color: #2B2B2B;
        /* background-color: #070; */
        position: relative;
        left: 10px;
    }
    .about-title h2{
        /* text-align: center; */
        color: #888;
        /* font-size: 32px; */
    }
    .title-deco {
        position: relative;
        top: 198px;
        left: -250px;
    }
    .deco-line {
        position: absolute;
        width: 500px;
        height: 1px;
        left: -200px;
        background-color: #aaa;
    }
    #rotate-line{
        left: -10px;
        transform: rotate(90deg);
    }

    .about-hanfu-text {
        padding: 50px 0px 50px 100px;
        margin-left: 30px;
        line-height: 50px;
        font-size: 24px;
        letter-spacing: 1px;
        /* background-color: #faa; */
    }
}

#about-style {
    /* margin-top: 100px; */
    /* padding: 100px 0 100px 0; */
    display: flex;
    /* justify-content: center; */
    width: 60%;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;
    /* background-color: #aaa; */

    .about-style-title{
        /* width: 40%; */
        /* padding: 0 0px 0 50px; */
        margin: 300px 50px 0 -50px;
        font-size: 40px;
        line-height: 80px;
        color: #2B2B2B;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: #070; */
        position: relative;
        left: 10px;
    }
    .about-style-title h2{
        color: #888;
        /* font-size: 32px; */
    }
    .title-deco {
        position: relative;
        top: 380px;
        left: -360px;
    }
    .deco-line {
        position: absolute;
        width: 500px;
        height: 1px;
        left: -200px;
        background-color: #aaa;
    }

    .style-bg {
        width: 1013px;
        height: 760px;
        /* border: 1px solid #000; */
        border-radius: 100px 0 0 100px;
        box-shadow: 30px 30px #B59F93;
        position: absolute;
        right: 110px;        
        background: url("/NiShangGe/tiny_pic/06.meet/meet_mamianqun_01.jpg")no-repeat right;
        background-size: cover;
        /* background-attachment: fixed; */
        z-index: -1;
    }
}
#style-text {
    width: 100%;
    /* height: 450px; */
    padding: 70px;
    margin: 450px 50px 500px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #faa; */

    .text p{
        width: 920px;
        height: 400px;
        padding-left: 40px;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 1px;
        /* background-color: #B3AC9C; */
        
    }    
}

.style-middle-bg {
    width: 1337px;
    height: 871px;
    background: url("/NiShangGe/tiny_pic/06.meet/meet_middle_bg.png")no-repeat;
    background-size: contain;
    position: absolute;
    right: 50px;
    top: 1350px;
    z-index: -1;
}


#mamianqun {
    /* width: 645px; */
    margin: -480px 0 40px 0px;
    display: flex;
    justify-content: space-between;
    
    /* background-color: #070; */

    .about-mamianqun {
        /* margin-left: 50px; */
        margin: 0 0 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #aaa; */
    }
    .mamianqun-img img {
        border-radius: 0 50px 50px 0;
        box-shadow: -30px 30px #191B28;

    }
    .mamianqun-text {
        width: 700px;
        font-size: 24px;
        padding: auto;
        font-family:'Noto Serif TC', serif;
        line-height:45px;
        letter-spacing: 2px;
        color: #2b2b2b;
        /* background-color: #faa; */
    }

    .mamianqun-text h1 {
        font-size: 40px;
        text-align: center;
        line-height: 60px;
        font-family: 'Segoe Script', 'Noto Serif TC', serif;
        /* background-color: #faa; */
    }
    .mamianqun-text h1:last-of-type {
        color: #555;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #aaa;
    }
    
}

/* ==================聯絡我們===================== */

#contact-us {
    padding: 100px 0 50px 0;
    margin-left: -100px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;
    /* background-color: #aaa; */

    .contact-title{
        width: 35%;
        margin: 80px -50px 100px 100px;
        font-size: 40px;
        line-height: 80px;
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        color: #2B2B2B;
        /* background-color: #070; */
        position: relative;
        left: 50px;
    }
    .contact-title h2{
        margin-left: 100px;
        color: #888;
    }
    .title-deco {
        position: relative;
        top: 158px;
        left: -250px;
    }
    .deco-line {
        position: absolute;
        width: 500px;
        height: 1px;
        left: -200px;
        background-color: #aaa;
    }
    #rotate-line{
        width: 450px;
        left: -10px;
        /* top: -50px; */
        transform: rotate(90deg);
    }

    .contact-us-text {
        margin-left: 120px;
        line-height: 50px;
        font-size: 24px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        /* background-color: #faa; */
    }
}

#contact-form {
    width: 100%;
    padding-left:150px;
    margin: 50px 0 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe Script', 'Noto Serif TC', serif;


    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        color: #2B2B2B;
    }

    .card {
        width: 90%;
        /* height: 100px; */
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: end;
        /* background-color: #faa; */
    }
    .card span {
        margin-right: 20px;
        padding: 0 30px 10px 0;
        border-bottom: 1px  solid #777;
        border-radius: 0 0 20px 0;
    }
    .card input {
        width: 880px;
        height: 73px;
        border-radius: 5px;
        margin-left: 50px;
        border-color: #aaa;
        /* background-color: #faa; */
    }
    .card input[type="text"] {
        border-color: #ddd;
    }
    .card input:placeholder-shown {
        padding-left: 20px;
        font-size: 20px;
    }
    #request span {
        margin-top: -250px;
        /* display: flex; */
        /* background-color: #faa; */
        /* vertical-align: top; */
    }
    #request input{
        width: 880px;
        height: 305px;
    }

    .send {
        width: 90%;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: end;
        /* background-color: #faa; */
    }
    .send span {
        margin-right: 50px;
    }
}